@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #213547;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

.ql-editor {
	font-size: 1.05rem;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.post-content p {
	margin-bottom: 0.5rem; /*the point was actually to caused there to be more space btwn paragraphs   */
}

.post-content h1 {
	font-size: 1.5rem;
	font-weight: 600;
	font-family: sans-serif;
	margin: 1.5rem 0;
}
.post-content h2 {
	font-size: 1.25rem;
	font-weight: 600;
	font-family: sans-serif;
	margin: 1.5rem 0;
}
.post-content a {
	color: rgb(73, 149, 199);
	text-decoration: none;
}
.post-content a:hover {
	text-decoration: underline;
}

.dark .post-conteNt a {
	color: red;
}
